*{
    margin: 0;
    padding:0;
}

body{
    display: flex;
    min-height:100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 57, 57);
}

.loader{
    position: relative;
    width: 15vw;
    height:15vw;
    background-color: rgb(108, 110, 240);
    border-radius: 50%;
    box-shadow: inset 0vw 0vw 2vw black;
    overflow: hidden;
}

.loader:before{
    position: absolute;
    content: '';
    width: 19vw;
    height: 17vw;
    border-radius: 33%;
    background-color: rgb(49, 41, 41);
    animation: temp 5s linear infinite;
    top: -10vw;
    left : -3.4vw;
}

@keyframes temp{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}